@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css);
@font-face {
    font-family: ubuntu;
    src: url(Media/Ubuntu-Regular.ttf);
  }

  * {
    font-family: ubuntu;
  }

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("Media/bgExpanded.png");
    background-color:rgb(95, 166, 210);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

.loginLogo {
    margin: 0 auto;
    overflow: auto;
    width: 500px;
    height: 176px;
  }

body .login-div {
  font-family: ubuntu;
  margin: 0 auto;
  width: 650px;
  background: 
  linear-gradient(rgba(131,135,238, 0.3), transparent),
  linear-gradient(to top left, rgba(91,181,219, 0.3), transparent),
  linear-gradient(to top right, rgba(38,146,207, 0.3), transparent);
  background-blend-mode: screen;
  overflow: auto;
  border-radius: 1em;
}

.signupBOLD {
    font-size: 35px;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.emailText {
    font-size: 23px;
    margin-left: 55px;
    color: rgb(255, 255, 255);
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.emailID {
    border:none;
    border-radius: 1rem;
    margin-left: 40px;
    width: 30rem;
    height: 2.1rem;
}

.signBTN {
    font-family:Ubuntu;
    border: 2px solid white;
    background-color:rgba(89, 165, 255);
    color:rgb(255, 255, 255);
    height: 7vh;
    width: 25vh;
    transition: border-width 0.1s linear;
    border-radius: 1rem;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  }

  .signBTN:hover {
    background-color:rgb(78, 146, 228);
    color:rgb(255, 255, 255);
    border-width: 4px;
    cursor:pointer;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  }

  .alrUser {
      color:rgb(255, 255, 255);
      text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  }