
body{
    margin: 0 0 55px 0;
}


.navbot{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: 
    linear-gradient(rgba(131,135,238, 0.3), transparent),
    linear-gradient(to top left, rgba(130, 133, 35, 0.3), transparent),
    linear-gradient(to top right, rgba(38,146,207, 0.3), transparent);
    background-blend-mode: screen;
    overflow-x: auto;
    display: flex;
}

.navbot-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    color: #4444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    background-color: 0.1s;
    transition: ease-in-out;
    padding: 5px;
}


.navbot-link:hover{
    color: #009578;
}

.material-icons.md-48 { font-size: 48px; }

