body{
    margin: 0 0 55px 0;
}

.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 69px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: black;
    overflow-x: auto;
    display: flex;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    color: #4444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: backgr;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

